body{
    background-color: #f9f9f9 ;
}
textarea{
    background-color:  #f9f9f9 ;
    /* border-color: #6fa070; */
    border-color: #ff0000;
}
.Dropdown {
  
    margin-left: 3%;
    margin-right: 3%;
    width: 15%;
    background-color:  #f9f9f9 ;
    /* border-color: #4CAF50; */
    border-color:#3d4052;
}
.p-fieldset{
    margin:3%;
    background-color: #9ac6e0;
}
.ml-2{
    font-size:34px;
    color:#3d4052 ;
    margin-right: 1%;

}
.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color:#3d4052;
    background:  #3d4052;
   
}
/* .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
     margin-left: 33%;
    /* width: 25px;
    height: 25px;
    transition-duration: 0.2s;
    background-color: #ffffff; */

#numq{
    font-size: 30px;
    color: #3d4052 ;
}
#quest{
    font-size: 35px;
    color:#3d4052;

}
/* .p-radiobutton-box	{
    background:  #4CAF50;

} */

